.roles-container {
  float: left;
  margin-left: 25%;
}

.pairs-container {
  float: right;
  margin-right: 25%;
}

.roles-btn {
  background-color: #F8F8FF;
  font-weight: bold;
  height: 30px;
  width: 70px;
  text-align: center;
  font-size: 12px;
}

.update-btn-container {
  margin-top: 15%;
  margin-left: 45%;
}
